@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Gothic+A1&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --background: #0f1320;
    --foreground: white;
    --muted-foreground: #b7b8bc;

    --accent-destructive: #e20714;
    --accent-destructive-shadow: #e2071630;

    --accent-warn: #ffd100;
    --accent-warn-shadow: #ffd00030;

    --accent-success: #22a75d;
    --accent-success-shadow: #22a75d30;

    --accent-blue: #2378d4;
    --accent-blue--shadow: #2378d430;
}

img {
    display: block;
    min-width: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: var(--background);
    color: var(--foreground);
    margin: 0;
}

main {
    max-width: 90rem;
    margin-inline: auto;
}

/* Quater section */
#quater-section {
    display: grid;
    gap: 3rem;
    grid-template-columns: 1fr;
    margin-bottom: 8rem;
    padding: 4rem;
}

.quater__header {
    display: flex;
    gap: 1rem;
    align-items: end;
}

.quater__header p {
    position: relative;
}

.quater__header p::before {
    --size: 1rem;

    content: "";

    height: var(--size);
    width: var(--size);
    border-radius: var(--size);

    position: absolute;
    top: -1.5rem;
    left: 0;
}

.quater__header h3 {
    --size: 4rem;

    height: var(--size);
    width: var(--size);
    border-radius: var(--size);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    color: var(--background);
}

.quater li {
    list-style-type: decimal-leading-zero;
    color: var(--muted-foreground);
    line-height: 2em;
}

/* Color variations */
.success::before {
    background-color: var(--accent-success);
}

ol.success > li::marker {
    color: var(--accent-success);
}
h3.success {
    background-color: var(--accent-success);
    box-shadow: 4px 4px 24px var(--accent-success-shadow);
}

.warn::before {
    background-color: var(--accent-warn);
}

ol.warn > li::marker {
    color: var(--accent-warn);
}
h3.warn {
    background-color: var(--accent-warn);
    box-shadow: 4px 4px 24px var(--accent-warn-shadow);
}

.blue::before {
    background-color: var(--accent-blue);
}

ol.blue > li::marker {
    color: var(--accent-blue);
}
h3.blue {
    background-color: var(--accent-blue);
    box-shadow: 4px 4px 24px var(--accent-blue-shadow);
}

.destructive::before {
    background-color: var(--accent-destructive);
}

ol.destructive > li::marker {
    color: var(--accent-destructive);
}
h3.destructive {
    background-color: var(--accent-destructive);
    box-shadow: 4px 4px 24px var(--accent-destructive-shadow);
}

/* About Section */
#about-section {
    display: grid;
    align-items: center;
    padding: 0;
}

.about-section__main {
    max-width: 80ch;
    display: none;
}

#about-section h2 {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

#about-section h2::before {
    content: "";
    background-image: url("/public/logo.png");
    background-repeat: no-repeat;
    background-size: contain;

    display: block;
    width: 2.5rem;
    height: 2.5rem;
}
#about-section figure {
    display: flex;
    background-color: blue;

    width: 100%;

    aspect-ratio: 1;
    border-radius: 1.5rem 1.5rem 0 0;

    padding: 0;
    margin: 0;

    position: relative;
}
#about-section img {
    --size: 80%;

    padding: 2rem;
    vertical-align: middle;

    width: var(--size);
    height: var(--size);

    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0;
    padding: 0;
}

#about-section p {
    color: var(--muted-foreground);
    line-height: 1.6em;
}
#about-section p strong {
    font-weight: 600;
}

#about-section button {
    background-color: var(--background);
    border: 2px solid var(--accent-success);
    color: var(--foreground);
    padding-inline: 2.5rem;
    padding-block: 0.75rem;
    border-radius: 4rem;
}

/* Design items */
.design {
    height: 8rem;
    background-color: white;
    color: white;
    margin-top: -1rem;

    display: none;
}
.design-top {
    border-radius: 0 0 0 15rem;
    margin-bottom: 5rem;
}
.design-bottom {
    border-radius: 0 15rem 0 0;
    margin-top: 5rem;
}

@media only screen and (min-width: 700px) {
    #quater-section {
        grid-template-columns: repeat(2, 1fr);
    }
    #about-section {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        padding: 4rem;
    }

    .about-section__main {
        display: block;
    }

    .about-section__main p:not(p:nth-of-type(1)) {
        display: none;
    }

    #about-section figure {
        border-radius: 1.5rem;
    }

    #about-section img {
        --size: 105%;
        width: var(--size);
        height: var(--size);
    }
}

@media only screen and (min-width: 1200px) {
    #quater-section {
        grid-template-columns: repeat(4, 1fr);
    }
    #about-section {
        gap: 10rem;
    }

    .about-section__main p:not(p:nth-of-type(1)) {
        display: block;
    }

    #about-section img {
        --size: 110%;
        width: var(--size);
        height: var(--size);
    }

    .design {
        display: block;
    }
}

@media only screen and (max-width: 1200px) {
    #quater-section section:nth-of-type(1) {
        order: 2;
    }

    #quater-section section:nth-of-type(2) {
        order: 1;
    }

    #quater-section section:nth-of-type(3) {
        order: 4;
    }

    #quater-section section:nth-of-type(4) {
        order: 3;
    }
}
